___
# This is a basic ML model buidling assistant 
___
> developed by : Ayush Malik

___
# Let's import necessary Libraries
___

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')

import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

import cufflinks as cf
cf.go_offline()

___
# Getting the dataset from user 
___

In [2]:
dataset_name  = input("Enter the name of your csv file with extension :")
df = pd.read_csv(dataset_name)
df.head()

Enter the name of your csv file with extension :titanic.csv

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
print('_'*70)
print('Given DataFrame has {' + str(df.shape[0]) + '} number of Observations')
print('Given DataFrame has {' + str(df.shape[1]) + '} number of Features')
print('_'*70)

______________________________________________________________________
Given DataFrame has {891} number of Observations
Given DataFrame has {12} number of Features
______________________________________________________________________

In [4]:
# Null values management system (^_^)

missing_values_count = df.isnull().sum().sort_values(ascending = False)
missing_values_count = missing_values_count.head( df.shape[1] - list(missing_values_count).count(0) )
missing_values_count = missing_values_count.to_frame().reset_index().rename( columns = {'index' : 'Column/Feature' , 0 : '%age_Null_val_count'})

missing_values_count['%age_Null_val_count'] = ( missing_values_count['%age_Null_val_count'] / len(df) ) * 100

Data_Types = []
Strategy   = []

for feature in missing_values_count['Column/Feature']:
    Data_Types.append( df.dtypes[feature]  )
    if df.dtypes[feature] == 'object':
        Strategy.append(['mode'])
    else:
        Strategy.append(['mean'])
    
missing_values_count['Data_Type']                 = Data_Types 
missing_values_count['Strategy_that_can_be_used'] = Strategy

missing_values_count.head()

  Column/Feature  %age_Null_val_count Data_Type Strategy_that_can_be_used
0          Cabin            77.104377    object                    [mode]
1            Age            19.865320   float64                    [mean]
2       Embarked             0.224467    object                    [mode]

In [5]:
# Time to drop or fill the Nan values in given features
feature_tracker = list(missing_values_count['Column/Feature'])

if int(input("Enter 1 if you wants to drop any features else hit 0 :")):
    drop_features = input('Enter the name of features sperated by space that you want to drop : ').split(" ")
    df.drop( drop_features , axis = 1 , inplace = True)

    for feat in drop_features:
        feature_tracker.remove(feat)
    
for feature_name in feature_tracker :
    strategy_given_by_user = input("Enter the strategy that you want to use to fill Nan value for feature { " + feature_name + " }")
    if strategy_given_by_user == 'mean':
        df[ feature_name ] = df[ feature_name ].fillna( df[ feature_name ].mean())
    elif strategy_given_by_user == 'mode':
        df[ feature_name ] = df[ feature_name ].fillna( df[ feature_name ].mode()[0])
    elif strategy_given_by_user == 'median':
        df[ feature_name ] = df[ feature_name ].fillna( df[ feature_name ].median())
df.isnull().sum().sort_values(ascending = False)

Enter 1 if you wants to drop any features else hit 0 :1
Enter the name of features sperated by space that you want to drop : Cabin
Enter the strategy that you want to use to fill Nan value for feature { Age }mean
Enter the strategy that you want to use to fill Nan value for feature { Embarked }mode

Embarked       0
Fare           0
Ticket         0
Parch          0
SibSp          0
Age            0
Sex            0
Name           0
Pclass         0
Survived       0
PassengerId    0
dtype: int64

In [6]:
int(len(df) * 0.82)

730

In [7]:
# Take the output feature from user
target_feature = input("Enter the target feature : ")

# Suggestion from us
if len(df[target_feature].unique()) < 10 :
    print("\U0001F609 Acc to me this is a Classification Problem")
else:
    print("\U0001F609 Acc to me this is a Regression Problem")
print("\U0001F602 Rest is your choice")

Enter the target feature : Survived
ðŸ˜‰ Acc to me this is a Classification Problem
ðŸ˜‚ Rest is your choice

In [20]:
# Preparing training and testing data
# By default we here take 82% data for trianing and 18% data for testing

prcntage = 0.82

if int(input("Hit 1 if you want to manually decide how much prnctage of data should be used for trianing else hit 0 : ")):
    prcntage = int(input('Enter the prcntage of data you want for training : '))/100



train_rows = int( len(df) * prcntage )
train = df.iloc[ : train_rows  : , : ]
test  = df.iloc[ train_rows  : : , : ]

print("Shape of training data :" , train.shape)
print("Shape of testing data  :" , test.shape)

Hit 1 if you want to manually decide how much prnctage of data should be used for trianing else hit 0 : 0
Shape of training data : (730, 11)
Shape of testing data  : (161, 11)

In [21]:
# preparing x_train , x_test , y_train and y_test from [train , test]
y_train = train[target_feature]
x_train = train.drop(target_feature , axis = 1)

y_test = test[target_feature]
x_test = test.drop(target_feature , axis = 1)

In [ ]:
df.head()

In [ ]:
# Creating dummy variables for categorical features
df = pd.get_dummies(df , drop_first = True)

In [ ]:
df.head()

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import AdaBoostClassifier

type_of_problem = input("Enter reg for regression or cla for classification : ")
if type_of_problem == 'reg':
    model = AdaBoostRegressor()
elif type_of_problem == 'cla':
    model = AdaBoostClassifier()

In [ ]:
# df.info

In [ ]:
# Ask the user that if we automatically drop the columns or they want to manage it by their own
# Ask the user to whether drop or retatin columns with missing values
        # 1 Drop the unnecessary
        # 2 Fill the columns and before filling ask the user that whether they want to select the strategy for each columns

In [ ]:
# Ask whether they want to select --- regression / classification or want automation there
# For regression use Random Forest Regressor / XGboost regressor
# For classification use Forest Classifier / XGboost classifier / Adaboost

In [ ]:
# Ask for hyperparameter optimization

In [ ]:
df.Survived.value_counts()